<div class="paper-item">
    <!-- Paper title -->
    <h3>Block Vecchia Approximation for Scalable and Efficient Gaussian Process Computations</h3>
    
    <!-- Authors - edit as needed -->
    <p class="paper-authors">Qilong Pan, Sameh Abdulah, Marc G. Genton, Ying Sun</p>
    
    <!-- Publication venue and year -->
    <p class="paper-venue">Technometrics, 2025</p>
    
    <!-- Paper images -->
    <div class="paper-image">
        <img src="images/BV1.1.png" alt="Fast and accurate estimation log-likelihood" style="width: 30%;">
        <img src="images/BV1.3.png" alt="Accurate estimation" style="width: 30%;">
        <img src="images/BV1.2.png" alt="Estimation of parameters" style="width: 30%;">
    </div>
    
    
    <!-- Paper abstract -->
    <p class="paper-abstract">We propose a block Vecchia approximation for scalable and efficient Gaussian process computations. Our approach leverages the Vecchia approximation to reduce the computational complexity of Gaussian process computations, allowing for faster and more efficient inference.</p>
    
    <!-- Paper links - edit URLs as needed -->
    <div class="paper-links">
        <a href="https://www.tandfonline.com/doi/full/10.1080/00401706.2025.2475784" target="_blank" class="paper-link"><i class="fas fa-file-pdf"></i> PDF</a>
        <a href="https://github.com/kaust-es/ParallelBlockVecchiaGP" target="_blank" class="paper-link"><i class="fas fa-code"></i> Code</a>
        <!-- <a href="#" target="_blank" class="paper-link"><i class="fas fa-link"></i> DOI</a> -->
    </div>
</div> 
</div> 