<div class="paper-item">
    <!-- Paper title -->
    <h3>GPU-Accelerated Vecchia Approximations of Gaussian Processes for Geospatial Data using Batched Matrix Computations</h3>
    
    <!-- Authors - edit as needed -->
    <p class="paper-authors">Qilong Pan, Sameh Abdulah, Marc G. Genton, David E. Keyes, Hatem Ltaief, Ying Sun</p>
    
    <!-- Publication venue and year -->
    <p class="paper-venue">ISC High Performance, 2024</p>
    
    <!-- Paper images -->
    <div class="paper-image">
        <img src="images/CV1.1.png" alt="Fast and accurate estimation log-likelihood" style="width: 40%;">
        <img src="images/CV1.2.png" alt="Accurate estimation" style="width: 50%;">
        <!-- <img src="images/CV1.3.png" alt="Estimation of parameters" style="width: 30%;"> -->
    </div>
    
    
    <!-- Paper abstract -->
    <p class="paper-abstract">We propose a GPU-accelerated Vecchia approximation for scalable and efficient Gaussian process computations. The proposed framework using the KBLAS library is tested on NVIDIA V100/A100/H100 GPUs and achieves 800X to 1300X speedup compared to the ExaGeoStat (exact GPs) implementation. </p>
    
    <!-- Paper links - edit URLs as needed -->
    <div class="paper-links">
        <a href="https://ieeexplore.ieee.org/abstract/document/10528930" target="_blank" class="paper-link"><i class="fas fa-file-pdf"></i> PDF</a>
        <a href="https://github.com/kaust-es/ParallelVecchiaGP" target="_blank" class="paper-link"><i class="fas fa-code"></i> Code</a>
        <!-- <a href="#" target="_blank" class="paper-link"><i class="fas fa-link"></i> DOI</a> -->
    </div>
</div> 
</div>