<div class="paper-item">
    <!-- Paper title -->
    <h3>Scaled Block Vecchia Approximation for High-Dimensional Gaussian Process Emulation on GPUs</h3>
    
    <!-- Authors - edit as needed -->
    <p class="paper-authors">Pan, Qilong and Abdulah, Sameh and Abduljabbar, Mustafa and Ltaief, Hatem and Herten, Andreas and Bode, Mathis and Pratola, Matthew and Fadikar, Arindam and Genton, Marc G and Keyes, David E and Sun, Ying</p>
    
    <!-- Publication venue and year -->
    <p class="paper-venue">arXiv:2504.12004</p>
    
    <!-- Paper images -->
    <div class="paper-image">
        <img src="images/SBV-pipeline.jpg" alt="pipeline" style="width: 46%;">
        <img src="images/SBV-parallel.jpg" alt="parallel" style="width: 46%;">
        <!-- <img src="images/BV1.2.png" alt="Estimation of parameters" style="width: 30%;"> -->
    </div>
    
    
    <!-- Paper abstract -->
    <p class="paper-abstract">We propose a block Vecchia approximation for scalable and efficient Gaussian process computations. Our approach leverages the Vecchia approximation to reduce the computational complexity of Gaussian process computations, allowing for faster and more efficient inference.</p>
    
    <!-- Paper links - edit URLs as needed -->
    <div class="paper-links">
        <a href="https://www.tandfonline.com/doi/full/10.1080/00401706.2025.2475784" target="_blank" class="paper-link"><i class="fas fa-file-pdf"></i> PDF</a>
        <a href="https://github.com/kaust-es/ParallelBlockVecchiaGP" target="_blank" class="paper-link"><i class="fas fa-code"></i> Code</a>
        <!-- <a href="#" target="_blank" class="paper-link"><i class="fas fa-link"></i> DOI</a> -->
    </div>
</div> 
</div> 