<section id="about">
    <div class="container">
        <h2 class="section-title">About Me</h2>
        <div class="about-content">
            <div class="about-image">
                <img src="icon.jpg" alt="Qilong Pan" class="profile-image">
            </div>
            <div class="about-text">
                <p>I am a PhD candidate in Statistics and High Performance Computing at King Abdullah University of Science and Technology (KAUST). My research focuses on statistical methods and computational models in data science.</p>
                <p> My research interests include but are not limited to: </p>
                <ul>
                    <li><strong>1. Statistical Learning</strong></li>
                    <li><strong>2. High Performance Computing</strong></li>
                    <li><strong>3. GPU acceleration</strong></li>
                    <!-- <li><strong>4. LLM inference</strong></li> -->
                </ul>
                <a href="https://scholar.google.com/citations?user=YOUR_ID&user=_9r8L7UAAAAJ" target="_blank">
                    <img src="images/gs.png" alt="Google Scholar" width="24">
                  </a>                   
            </div>
        </div>
    </div>
</section> 