<section id="education">
    <div class="container">
        <h2 class="section-title">Education</h2>
        <div class="education-item">
            <h3>PhD in Statistics and High Performance Computing</h3>
            <p class="institution">King Abdullah University of Science and Technology, KSA</p>
            <p class="date">Sep 2021 - Present</p>
        </div>
        <div class="education-item">
            <h3>B.S. in Statistics</h3>
            <p class="institution">Wuhan University of Technology, China</p>
            <p class="date">Sep 2017 - June 2021</p>
        </div>
        <div class="education-item">
            <h3>B.A. in English (Dual Degree)</h3>
            <p class="institution">Huazhong University of Science and Technology, China</p>
            <p class="date">Jan 2019 - June 2021</p>
        </div>
    </div>
</section> 